.container {
    height: auto;
    width: 250px;
    border-radius: 10px;
    border: 2px solid black;
}

.imgContainer {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.Title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.textContainer {
    display: flex;
    justify-content: center;
}

.p {
    padding-left: 20px;
    padding-right: 20px;
   
}